@model WoodyMovie.Models.ChangePasswordVM
@inject IViewLocalizer Localizer
	<main>
		<section id="mu-contact">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mu-contact-area">
							<div class="row">
								<div class="col-md-12">
									<div class="mu-title">
										<h2>@Localizer["Manage"]</h2>
									</div>
								</div>
							</div>
							<div class="mu-contact-content">
								<div class="row">
									<div class="col-md-12">
										<div class="mu-contact-form-area">
											<div id="form-messages"></div>
											<form id="contact" method="post" class="mu-contact-form" asp-action="ChangePassword">
												<div class="form-group">  
													<span class="fa fa-envelope mu-contact-icon"></span>              
													<input type="password" asp-for="CurrentPassword" class="form-control" placeholder="@Localizer["CurrentPassword"]" id="password" name="password" required>
													<span asp-validation-for="CurrentPassword" class="text-danger"></span>
												</div>    
												<div class="form-group">
													<span><i class="fa fa-user mu-contact-icon"></i></span>
													<input type="password" asp-for="NewPassword" class="form-control" placeholder="@Localizer["NewPassword"]" id="password" name="password" required>
													<span asp-validation-for="NewPassword" class="text-danger"></span>
												</div>
												<div class="form-group">  
													<span><i class="fa fa-user mu-contact-icon"></i></span>
													<input type="password" asp-for="ConfirmNewPassword" class="form-control" placeholder="@Localizer["ConfirmNewPassword"]" id="password" name="password" required>
													<span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
												</div>  
												<button type="submit" class="mu-send-msg-btn"><span>@Localizer["Submit"]</span></button>
								        	</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>