@model ResetPasswordVM
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["ResetPassword"];
}
<main>
    <section id="mu-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-contact-area">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mu-title">
                                    <h2>@Localizer["ResetPassword"]</h2>
                                </div>
                            </div>
                        </div>
                        <div class="mu-contact-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mu-contact-form-area">
                                        <div id="form-messages"></div>
                                        <form id="contact" method="post" class="mu-contact-form" asp-action="ResetPassword" asp-controller="Account">
                                            <div class="form-group">
                                                <span class="fa fa-envelope mu-contact-icon"></span>
                                                <input type="password" asp-for="NewPassword" class="form-control" placeholder="@Localizer["NewPassword"]" id="password" name="password" required>
                                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <span class="fa fa-envelope mu-contact-icon"></span>
                                                <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="@Localizer["ConfirmPassword"]" id="password" name="password" required>
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>
                                            <input type="hidden" asp-for="Token" value="@Context.Request.Query["Token"]"/>
                                            <input type="hidden" asp-for="Email" value="@Context.Request.Query["Email"]"/>
                                            <button type="submit" class="mu-send-msg-btn"><span>@Localizer["Reset"]</span></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
   }